<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Meta data -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Style -->
        {% load static %}
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
        <!-- <link rel="stylesheet" href="{% static 'login_and_registration_app/css/style.css' %}">  -->
        <title>Test</title>
</head>

    <body>
        <div class="container">
            <h1>Covid</h1>
        </div>
    </body>

</html>